*.pyc
*~
*.so

cpp/Makefile
cpp/CMakeCache.txt
cpp/CMakeFiles/*
cpp/cmake_install.cmake
cpp/basix/version.h

doc/python/build/*
doc/python/source/generated/*
python/testing_build/
doc/cpp/html/*
doc/cpp/latex/*
doc/html/*
doc/_temp

build*/

.*.swp

*.egg-info
_skbuild/*
dist/*
