*.pyc
*~
*.so
cpp/doc/html/*
cpp/doc/latex/*
cpp/Makefile
cpp/CMakeCache.txt
cpp/CMakeFiles/*
cpp/cmake_install.cmake

python/doc/build/*
python/doc/source/generated/*

build/*

.*.swp

*.egg-info
_skbuild/*
dist/*
