[build-system]
requires = ["setuptools>=42", "nanobind @ git+https://github.com/wjakob/nanobind.git", "wheel", "cmake>=3.16", "scikit-build>=0.12"]

build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
build = ["cp{37,38,39,310}-manylinux_x86_64", "cp{37,38,39,310}-macosx_x86_64"]

test-command = "cmake -DPython3_EXECUTABLE=$(which python) -G Ninja -B build-dir -S {project}/test/test_cmake && cmake --build build-dir/ && build-dir/a.out && python -m pytest -v -n auto --durations 20 {project}/test/"
test-requires = ["pytest-xdist"]
test-extras = ["test"]

manylinux-x86_64-image = "manylinux2014"

[tool.cibuildwheel.linux]
before-build = "yum -y update && yum install -y openblas-devel ninja-build"

[tool.cibuildwheel.macos]
before-build = "export HOMEBREW_AUTO_UPDATING=0 && brew update && brew install ninja"
