# This workflow will install Basix, FFCx, DOLFINx and run the DOLFINx unit tests.

name: Run DOLFINx tests

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    container: fenicsproject/test-env:openmpi

    env:
      CC: clang-10
      CXX: clang++-10

      PETSC_ARCH: linux-gnu-complex-32
      OMPI_ALLOW_RUN_AS_ROOT: 1
      OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1
      OMPI_MCA_rmaps_base_oversubscribe: 1
      OMPI_MCA_plm: isolated
      OMPI_MCA_btl_vader_single_copy_mechanism: none
      OMPI_MCA_mpi_yield_when_idle: 1
      OMPI_MCA_hwloc_base_binding_policy: none

    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies (Python)
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install scikit-build
      - name: Install basix
        run: |
          python3 -m pip install .
      - name: Install FEniCS Python components
        run: |
          python3 -m pip install git+https://github.com/FEniCS/ufl.git
          python3 -m pip install git+https://github.com/FEniCS/ffcx.git

      - name: Clone and install dDOLFINx
        run: |
          git clone https://github.com/FEniCS/dolfinx.git
          cd dolfinx
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer -B build -S cpp/
          cmake --build build
          cmake --install build
          python3 -m pip -v install --global-option build --global-option --debug python/

      - name: Run DOLFINx unit tests
        run: python3 -m pytest dolfinx/python/test/unit
