name: DOLFINx integration

# This workflow will install Basix, FFCx, DOLFINx and run the DOLFINx
# unit tests.

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      dolfinx_branch:
        description: "DOLFINx branch or tag"
        default: "main"
        type: string
      ffcx_branch:
        description: "FFCx branch or tag"
        default: "main"
        type: string
      ufl_branch:
        description: "UFL branch or tag"
        default: "main"
        type: string

jobs:
  build:
    name: Run DOLFINx tests
    runs-on: ubuntu-22.04
    container: fenicsproject/test-env:nightly-openmpi

    env:
      PETSC_ARCH: linux-gnu-complex-32
      OMPI_ALLOW_RUN_AS_ROOT: 1
      OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1
      OMPI_MCA_rmaps_base_oversubscribe: 1
      OMPI_MCA_plm: isolated
      OMPI_MCA_btl_vader_single_copy_mechanism: none
      OMPI_MCA_mpi_yield_when_idle: 1
      OMPI_MCA_hwloc_base_binding_policy: none

    steps:
      - uses: actions/checkout@v3
      - name: Install Basix
        run: |
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer -B build-dir -S ./cpp
          cmake --build build-dir
          cmake --install build-dir
          python3 -m pip install ./python

      - name: Install FEniCS Python components
        if: github.event_name != 'workflow_dispatch'
        run: |
          python3 -m pip install git+https://github.com/FEniCS/ufl.git
          python3 -m pip install git+https://github.com/FEniCS/ffcx.git
      - name: Install FEniCS Python components
        if: github.event_name == 'workflow_dispatch'
        run: |
          python3 -m pip install git+https://github.com/FEniCS/ufl.git@${{ github.event.inputs.ufl_branch }}
          python3 -m pip install git+https://github.com/FEniCS/ffcx.git@${{ github.event.inputs.ffcx_branch }}

      - name: Get DOLFINx
        if: github.event_name != 'workflow_dispatch'
        uses: actions/checkout@v3
        with:
          path: ./dolfinx
          repository: FEniCS/dolfinx
          ref: garth/basix-types-changes-2
      - name: Get DOLFINx
        if: github.event_name == 'workflow_dispatch'
        uses: actions/checkout@v3
        with:
          path: ./dolfinx
          repository: FEniCS/dolfinx
          ref: ${{ github.event.inputs.dolfinx_branch }}
      - name: Install DOLFINx
        run: |
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer -B build -S dolfinx/cpp/
          cmake --build build
          cmake --install build
          python3 -m pip -v install --global-option build --global-option --debug dolfinx/python/

      - name: Run mypy checks
        run: |
          cd dolfinx/python
          python3 -m mypy dolfinx

      - name: Build DOLFINx C++ unit tests
        run: |
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer -B build/test/ -S build/test/
          cmake --build build/test
      - name: Run DOLFINx C++ unit tests
        run: |
          cd build/test
          ctest -V --output-on-failure -R unittests

      - name: Run DOLFINx Python unit tests
        run: |
          cd dolfinx
          python3 -m pytest -n auto python/test/unit

      - name: Run DOLFINx Python demos
        run: |
          cd dolfinx/
          python3 -m pytest -n auto -m serial --durations=10 python/demo/test.py
