name: FFCx integration

# This workflow will install Basix and FFCx and run the FFCx unit tests.

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      ffcx_branch:
        description: "FFCx branch or tag"
        default: "main"
        type: string
      ufl_branch:
        description: "UFL branch or tag"
        default: "main"
        type: string

jobs:
  build:
    name: Run FFCx tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          sudo apt-get install -y libopenblas-dev liblapack-dev ninja-build graphviz libgraphviz-dev pkg-config

      - name: Install UFL
        run: pip install git+https://github.com/FEniCS/ufl.git@${{ github.event.inputs.ufl_branch }}
      - name: Install Basix
        run: pip -v install .[ci]

      - name: Get FFCx
        uses: actions/checkout@v2
        with:
          path: ./ffcx
          repository: FEniCS/ffcx
          ref: ${{ github.event.inputs.ffcx_branch }}

      - name: Install FFCx
        run: |
          cd ffcx
          pip install .[ci]

      - name: Build FFCx unit tests
        run: |
          python -m pytest -n auto ffcx/test
