name: oneAPI compilers

# Test Basixusing Intel oneAPI compilers and MKL

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - main
  workflow_dispatch: ~

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-22.04
    container: ubuntu:22.04  # Run in container to test with minimal pre-installed packages

    env:
      CC: icx
      CXX: icpx
      DEBIAN_FRONTEND: noninteractive

    steps:
      - name: Install required packages to install Intel compilers and to build
        run: apt -y update && apt install -y cmake git gnupg ninja-build python3-dev python3-pip python3-setuptools wget

      - uses: actions/checkout@v3

      - name: Install Intel compilers
        run: |
          wget https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
          apt-key add GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
          echo "deb https://apt.repos.intel.com/oneapi all main" | tee /etc/apt/sources.list.d/oneAPI.list
          apt update
          apt install -y intel-basekit

      - name: Install Basix
        run: |
          . /opt/intel/oneapi/setvars.sh
          pip -v install .[test]

      - name: Run units tests
        run: |
          . /opt/intel/oneapi/setvars.sh
          pip install pytest-xdist
          pytest -n auto --durations 20 test/

      - name: Run Python demos
        run: |
          . /opt/intel/oneapi/setvars.sh
          pytest demo/python/test.py

      - name: Run C++ demos
        run: |
          . /opt/intel/oneapi/setvars.sh
          pytest demo/cpp/test.py
