name: oneAPI

# Test Basix using Intel oneAPI compilers and MKL

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - main
  merge_group:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build and test (oneAPI)
    runs-on: ubuntu-latest
    container: ubuntu:24.04  # Run in container to test with minimal pre-installed packages
    env:
      CC: icx
      CXX: icpx
      DEBIAN_FRONTEND: noninteractive
      CMAKE_GENERATOR: Ninja
    defaults:
      run:
        shell: bash -el {0}

    steps:
      - name: Install compiler dependencies
        run: |
          apt-get -y update
          apt-get -y install binutils libstdc++-14-dev

      - uses: actions/checkout@v6

      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: oneapi
          python-version: 3.13
          channels: https://software.repos.intel.com/python/conda,conda-forge
          auto-activate-base: false

      - name: Install
        run: >
          conda install python=3.13 dpcpp_linux-64 cmake git libblas=*=*mkl
          matplotlib nanobind ninja numba numpy pip pytest pytest-xdist
          scikit-build-core scipy sympy

      - name: Install Basix
        run: |
          pip -v install --no-build-isolation .
      - name: Run units tests
        run: |
          pip -v install git+https://github.com/FEniCS/ufl.git
          pytest -n auto --durations 20 test/
      - name: Run Python demos
        run: |
          pytest demo/python/test.py
      - name: Run C++ demos
        run: |
          pytest demo/cpp/test.py
