name: Basix CI on MacOS

# This workflow will install Python dependencies, run tests and lint
# with a single version of Python For more information see:
# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build and test (MacOS)
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-11, macos-12]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install dependencies (non-Python)
        run: brew install ninja

      - name: Install Basix
        run: |
          pip install scikit-build
          pip install git+https://github.com/FEniCS/ufl.git
          pip -v install .[ci]

      - name: Run units tests
        run: pytest -n auto --durations 20 test/

      - name: Run python demos
        run: pytest demo/python/test.py

      - name: Run C++ demos
        run: |
          export INSTALL_DIR=$(pwd)/`python3 -c "import skbuild; print(skbuild.cmaker.CMAKE_INSTALL_DIR())"`
          export CMAKE_PREFIX_PATH=$CMAKE_PREFIX_PATH:$INSTALL_DIR/python/basix/lib/cmake:$INSTALL_DIR/python/basix/share/cmake
          pytest demo/cpp/test.py
