# This workflow will install Python dependencies, run tests and lint
# with a single version of Python For more information see:
# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Basix CI

on:
  - push
      branches:
        - "**"
      tags:
        - "*.*.*.*"
        - "*.*.*"

  - pull_request

jobs:
  build:
    name: Build and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install pybind11
        run: pip install pybind11
      - name: Install dependencies (non-Python, Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get install -y doxygen libopenblas-dev liblapack-dev ninja-build
      - name: Install dependencies (non-Python, macOS)
        if: runner.os == 'macOS'
        run: brew install ninja
      - name: Lint with flake8
        run: |
          pip install flake8
          flake8 --statistics test/
      - name: Install Basix C++
        run: |
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer -B build-dir -S .
          cmake --build build-dir
          sudo cmake --install build-dir
      - name: Build Basix Python
        run: |
          cd python
          pip install .
      - name: Run units tests
        run: |
          pip install pytest pytest-xdist numpy sympy numba scipy
          pytest -v -n auto --durations 20 test/
      - name: Build Python documentation (Linux)
        if: runner.os == 'Linux'
        run: |
          pip install sphinx sphinx_rtd_theme
          cd python/doc && make html
      - name: Build C++ documentation (Linux)
        if: runner.os == 'Linux'
        run: |
          cd cpp/doc && doxygen
      - name: Checkout FEniCS/docs
        if: ${{ github.repository == 'FEniCS/basix' && ( github.ref == 'refs/heads/main' || github.ref == 'refs/tags/*' ) && runner.os == 'Linux' }}
        uses: actions/checkout@v2
        with:
          repository: "FEniCS/docs"
          path: "docs"
          ssh-key: "${{ secrets.SSH_GITHUB_DOCS_PRIVATE_KEY }}"
      - name: Set version name
        if: ${{ github.repository == 'FEniCS/basix' && ( github.ref == 'refs/heads/main' || github.ref == 'refs/tags/*' ) && runner.os == 'Linux' }}
        run: echo "VERSION_NAME=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Copy documentation into repository
        if: ${{ github.repository == 'FEniCS/basix' && ( github.ref == 'refs/heads/main' || github.ref == 'refs/tags/*' ) && runner.os == 'Linux' }}
        run: |
          cd docs
          git rm -r --ignore-unmatch basix/${{ env.VERSION_NAME }}/cpp
          git rm -r --ignore-unmatch basix/${{ env.VERSION_NAME }}/python
          mkdir -p basix/${{ env.VERSION_NAME }}/cpp
          mkdir -p basix/${{ env.VERSION_NAME }}/python
          cp -r ../cpp/doc/html/* basix/${{ env.VERSION_NAME }}/cpp
          cp -r ../python/doc/build/html/* basix/${{ env.VERSION_NAME }}/python
      - name: Commit and push documentation to FEniCS/docs
        if: ${{ github.repository == 'FEniCS/basix' && ( github.ref == 'refs/heads/main' || github.ref == 'refs/tags/*' ) && runner.os == 'Linux' }}
        run: |
          git config --global user.email "fenics@github.com"
          git config --global user.name "FEniCS GitHub Actions"
          git add --all
          git commit --allow-empty -m "C++ FEniCS/basix@${{ github.sha }} ({{ github.ref }})"
          git push
