# This workflow will install Python dependencies, run tests and lint
# with a single version of Python For more information see:
# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Basix CI

on: [push, pull_request]

jobs:
  build:
    name: Build and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.x]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies (non-Python, Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libeigen3-dev doxygen
      - name: Build documentation (Linux)
        if: runner.os == 'Linux'
        run: |
          cd doc && doxygen
      - name: Install dependencies (non-Python, macOS)
        if: runner.os == 'macOS'
        run: brew install eigen
      - name: Lint with flake8
        run: |
          pip install flake8
          flake8 --statistics test/
      - name: Install basix C++
        run: |
          cmake . 
          make -j 2 
          sudo make install
      - name: Install basix Python
        run: |
          cd python && python3 setup.py install
      - name: Run units tests
        run: |
          pip install pytest pytest-xdist numpy sympy
          pytest -v -n auto test/
      - name: Checkout FEniCS/docs
        if: ${{ github.repository == 'FEniCS/basix' && github.ref == 'refs/heads/main' && runner.os == 'Linux' }}
        uses: actions/checkout@v2
        with:
          repository: "FEniCS/docs"
          path: "docs"
          ssh-key: "${{ secrets.SSH_GITHUB_DOCS_PRIVATE_KEY }}"
      - name: Push documentation to repository FEniCS/docs
        if: ${{ github.repository == 'FEniCS/basix' && github.ref == 'refs/heads/main' && runner.os == 'Linux' }}
        run: |
          cd docs
          git config --global user.email "fenics@github.com"
          git config --global user.name "FEniCS GitHub Actions"
          git rm -r basix/main/cpp
          mkdir -p basix/main/cpp
          cp -r ../doc/html/* basix/main/cpp
          git add --all
          git commit --allow-empty -m "C++ FEniCS/basix@${{ github.sha }}"
          git push
